{{#if shoppingCart.items}}

  <h2>Current items in your cart:</h2>

  {{#each shoppingCart.items as |item|}}
    {{item.title}} -- {{item.cost}}<br>
  {{/each}}
  <h2>Total: ${{shoppingCart.totalDisplay}}</h2>
{{/if}}
