body {
  font-family: 'Roboto', sans-serif;
}

.crudButtons {
  display: inline;
}

.shoeContainer {
  width: 30%;
}

.smallImage {
  width: 250px;
  height: auto;
}

.productCard {
  border: 4px;
}

.shoeTitleText {
  height: 52px;
  margin: 10px;
  text-align: center;
}

.shoeCard {
  height: 362px;
}

.shoePic {
  display: block;
  margin: auto;
}

.noItemsText {
  padding: 15px;
}

.yellowStars {
  color: #fdec03;
}

.removeButton {
  margin-left: 20px;
}

.jumbotron {
  width: 100%;
  margin: 0px;
  text-align: center;
  background-image: url(http://screenjazz.com/files/walls/95/misc/tanshoes-2560x1440.jpg);
}

/*Bootstrap button outline override*/
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}

.btn-primary.btn-outline {
    color: #428bca;
}

.btn-success.btn-outline {
    color: #5cb85c;
}

.btn-info.btn-outline {
    color: #5bc0de;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}

.btn-danger.btn-outline {
    color: #d9534f;
}

.btn-primary.btn-outline:hover,
.btn-success.btn-outline:hover,
.btn-info.btn-outline:hover,
.btn-warning.btn-outline:hover,
.btn-danger.btn-outline:hover {
    color: #fff;
}
