<div class="container">
  <div class="row">
    {{#each model as |product|}}
      <div class="col-sm-4">
        {{product-tile class="productCard" product=product}}
      </div>
    {{/each}}
  </div>
</div>
